*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

html {
    --pink: #ff408e;
    --white: #ffffff;
    --burnt-white: #fff6ef;
    --soft-black: #030303;
    --black: #000000;
    --medium-grey: #dfe3e6;
    --soft-grey: #ebedee;
    --soft-pink: #ffb3d2;
    --soft-blue: #99cdeb;
    --blue: #0081cc;
    --grey: #a0abb1;
    font-size: 62.5%;
}

button, input, textarea, li {
    font-family: 'Poppins', 'Open Sans' , sans-serif;
}

body {
    box-sizing: border-box;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    
    /* intervalo de tamanho */
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Poppins', 'Open Sans' , sans-serif;

    background: var(--white);
}

/* ESTILIZAÇÃO DOS BOTÕES E INPUT */
input, button, .button{
    height: 2rem;
}

button, .button{
    font-family:Poppins;
    line-height: 0;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--white);
    color: var(--black);
    
    cursor: pointer;
    font-size: 100%;
}

button:hover, .button:hover{
    filter: brightness(1.2);
}

/* HEADER */

header {
    box-sizing: border-box;
    padding: 0.5rem;
    grid-area: 'nav-bar';
    display: flex;
    align-items: center;
    background: var(--white);
    justify-content: space-between;
}

header div{
    display: flex;
    align-items: center;
}

#Logo {
    margin-left: 3rem;
    width: 6vw;
}

#Project-name {
    margin-left: 1rem;
    color: var(--black);
    font-size: 220%;
    font-family: "Poppins";
    font-weight: 700;
}

/* MENU */

#Menu{
    font-size: 120%;
    font-weight: 600;
    margin-right: 3vw;
    gap: 1rem;
    align-items: center;
    margin-right: 3rem;
}

#Login {
    cursor: pointer;
    margin-right: 6vw;
}

nav{
    display: flex;
    align-items: center;
    list-style: none;
}

nav a{
    color: var(--black);
    padding-inline: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 3px solid transparent;
    border-radius: 40px;
}

nav a:hover{
    border: 3px solid var(--pink);
    transition: .5s;
}

#On-Page{
    border: 3px solid var(--pink);
}

/* 
#Menu:hover{
    cursor: pointer;
    color: #ff408e;
    transition: .3s;
}  

#Menu-bar {
    margin-top: 8.6vh;
    margin-left: -85vw;
    height: 6vh;
    align-items: center;
    width: 110vw;
    position: absolute;
    z-index: 110;
}

#Bg-bar {
    background: var(--pink);
    position: absolute;
    width: 110vw;
    height: 6vh;
    display: none;
    border-bottom: 3px solid var(--white);
}

#Bg-bar::before {
    opacity: 0;
}

#Bar-content {
    position: absolute;
    gap: 5rem;
    margin-left: 30vw;
    display: none;
}

#Hamburguer {
    border-top: 2px solid var(--black);
    width: 20px;
}

#Hamburguer::after, #Hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: var(--black);
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#Menu.active #Hamburguer{
    border-top-color: transparent;
}

#Menu.active #Hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
}

#Menu.active #Hamburguer::before{
    transform: rotate(135deg);
}

#Menu-bar.active #Bg-bar, #Menu-bar.active #Bar-content{
    display: flex;
    transition: .5s;
}

#Menu-bar.active #Bg-bar {
    opacity: 0.7;
}


header nav {
    list-style: none;
    display: flex;
}

header nav li{
    display: inline-block;
    margin-left: 1vw;
    font-weight: 700;
}

nav a{
    color: var(--white);
}

.Page-link:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--white);
}

.Cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.Cool-link:hover::after {
    width: 100%;
    transition: .3s
} */
